/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

 

.bkimg{
	-fx-background-image: url("../gui/Loja.png");
	-fx-background-position: center;
	-fx-background-size: 100% 100%;
	-fx-background-repeat: no-repeat;
}

